.cardParent {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    background-color: var(--card-bg);
    color: var(--text-color);
}

.card {
    /* background-color: #264775; */
    background-color: var(--card-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 75%;
    max-width: 500px;
    transition: transform 0.3s;
    cursor: pointer
}

.className {
    font-size: 18px;
    /* font-weight: bold; */
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-top: 0px;
}

.classInfo {
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
}